@model BookKeeper
    <head>
        <script src="https://kit.fontawesome.com/5b1e557ff8.js" crossorigin="anonymous"></script>
    </head>

<button onclick="openForm()">Hire Me!</button>

<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Login</button>
        <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<div>
    
</div>

<div class="detailsprofile">
    <img class="imgdetailsprofile" src="~/images/profilepic.png" />
    <h3>@Model.FirstName @Model.LastName</h3> 
    <h6>@Model.Description</h6> 
    <h3>Phone Number: @Model.PhoneNumber</h3> 
    <h3>Email: @Model.EmailAddress</h3>
</div>

<hr /> 
<div> 
    <span class="glyphicon glyphicon-star"></span>
</div>
<div class="container">
    @foreach (Reviews reviews in Model.Reviews)
    {
            <div>
                @for (int i = 0; i < reviews.Rating; i++)
                {
                    <span class="fas fa-star"></span>
                }
                @for (int i = reviews.Rating; i < 5; i++)
                {
                    <span class="far fa-star "></span>
                }
            </div>
            <div><i>"@reviews.Comment"</i></div> 
            @*@foreach (var c in reviews.Clients)
            {
                <div>@c.FirstName @c.LastName</div>
            }*@
        <hr />
    }
</div>
